@import 'src/styles/typography';
@import 'src/styles/breakpoints';

.timeline-entry {
  display: grid;
  grid-template-columns: auto 1fr;
}

.time-range {
  font-style: italic;
  font-weight: 300;
}

.role-name {
  margin-left: 1rem;
  font-weight: 300;
}

.company-name {
  font-weight: 700;
}

.blur-background {
  backdrop-filter: blur(4px);
}

.responsibility {
  border-top: solid 1px #fff4;
  font-weight: 300;
  display: flex;

  @include mobile-only {
    margin-left: -1em;
  }
}
